   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background:#0e83cd">
      <div class="container">
        <div class="navbar-header">
          <a href="" style="color:#4d4d4d;border:none;margin-right:0;background:#0e83cd;margin-top:10px" class="navbar-toggle collapsed" data-toggle="modal" data-target="#menuModal" aria-expanded="false" aria-controls="navbar">
    <i class="fa fa-bars" style="color:#fff;font-size:25px"></i>
          </a>
          <a class="navbar-brand" href="#" style="margin-top:-8px;margin-left:-5px"><img src="http://i59.tinypic.com/2r2yq21.png" style="width:50px"/><span style="font-size:16px;color:#fff;padding-left:5px"> Upload documents</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
